@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
   overflow-x: hidden; 
   background-color: #F5F5F7;
}
.body h1{
    cursor: text;
}
::selection{
    color: rgb(0, 0, 0);
    background: #DC703F;
}
.header{
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
    left: 0;
    justify-content: center;
}
.logo{
    position: relative;
    padding-right: 30px;
    padding-top: 1px;
}
.menu1{
    position: relative;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 40%;
}
.header a{
    position: relative;
    margin: 4px;
}
.menu1 i{
padding-top: 6px;
padding-right: 5px;
}
.menu1 i:hover{
    color: black;
}
.menu1 a:hover{
    color: black;
}
#btn00{
cursor: pointer;
    width: 5rem;
    height: 2.5rem;
      background-color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 25px;
    position: absolute;
    color: white;
    top:20%;
    left:10%;
    text-align: center;
}
#btn00:hover{
    color: white;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
  
}
 .text-gradient {
    position: absolute;
    left:10%;
    top:10%;
    
    font-family: 'Inter', sans-serif;
            background: linear-gradient(to right, #357DE5, #DC703F);    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent; 
            font-size: 70px;
            font-weight: 800;
        }
.h22{
    right:10%;
    top: 7%;
    position: absolute;
    font-family: sans-serif;
    font-size: 30px;
    color: black;
    font-weight: 600;
}
.span11{
    position: absolute;
    color: #178ae2; font-size: 15px; font-weight: 100;
    cursor: pointer;
    right:30%;
    top:100%;
}
.span11:hover{
    text-decoration: underline;
}
.dollar{
    position: absolute;
    left:65%;
    width: 30rem;
    transition:0.7s ease-out;
}
.dollar:hover{
        transform: scale(1.1);
}
.rupee{
    z-index: 19;
    height: 460px;
    position: absolute;
    right: 67%;
    top:0%;
    width: 29em;
    transition:0.7s ease-out;
}
.rupee:hover{
    z-index: 19;
    transform: scale(1.1);
}
.euro{
    top:-25%;
    position: absolute;
    left:62%;
    width: 44rem;
    transition:0.7s ease-out;
}
.euro:hover{
    transform: scale(1.1);
}
.pound{
    height: 650px;
    position: absolute;
    right: 60%;
    top:-13%;
    width: 45rem;
    transition:0.7s ease-out;
}
.pound:hover{
     transform: scale(1.1);
}
.n1 img{
    position: relative;
    height: 110px;
width:100%;
}
.n2 img{
    position: relative;
    height: 85px;
    width:99%;
}
.n3 img{
    height: 80px;
width: 99%;
}
.n4 img{
    height: 90px;
   width: 99%; 
}
.n5 img{
    height: 90px;
    width: 99%;
}
.n6 img{
    height: 90px;
    width: 99%;
}
.n7 img{
    height: 90px;
    width: 99%;
}
.circle{
    z-index: 1000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left:0;
    top:0;
 
}
.circle1{
    box-shadow: 1px 1px 10px 1px #178ae2;
}


